@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl_0.otf');
    font-weight: 300;
}
@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl_1.otf');
    font-weight: 400;
    
}

$hover: #BD8D4C;

*{
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
}
a{
    color:black
}

%buy-button{
    height:46px;
    border-top: 1px solid $hover;
    border-bottom: 1px solid $hover;
    position: relative;
    width: 180px;
    :after,:before{
        content:'';
        width:1px;
        height:1px;
        position:absolute;
        background:$hover;
        transition: 0.3s;
    }
    :after{
        right: 0;
        bottom: -1px;
    }
    :before{
        left:0;
        top:-1px;
    }
    
    :hover:after,:hover:before{
        height:102%;
        transform: scaleY(1) !important;
        transform-origin: bottom !important;
    }
}

header{
    &.shadow{
        box-shadow: 0px 5px 50px rgba(0,0,0,.1);
    }
    display:flex;
    justify-content: space-evenly;
    height:126px;
    align-items: center;
    position:fixed;
    width:100%;
    z-index: 4;
    background-color:white;
    .nav ul {
        
        li{
            display:inline;
            font-size:16px;
            position: relative;
            margin: 0 26px;
            height:46px;
            display: inline-flex;
            align-items: center;
            text-align: center;
            border-bottom:1px solid white;
            a{
                color:black;
            }
        }
        li:hover{
            border-bottom:1px solid $hover;
        }
        ul li{
            margin:0;
            font-size: 14px;
            text-align: center;
            border:none;
        }
        ul li:hover a{
            color:$hover;
        }
        ul li:hover{
            border:none;
        }
        .sub>a:after{
            content:'';
            width:10px;
            height:6px;
            background:url(../img/after.png);
            display: inline-block;
            margin: 0 .5rem;
        }
        .sub:hover .submenu{
            visibility: visible;
            opacity: 1;
        }
        .submenu {
            position: absolute;
            top: 100%;
            opacity: 0;
            z-index: 10;
            visibility: hidden;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .ticket{
        @extend %buy-button;
        a{
            font-weight:400;
            position: relative;
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
    .mobile_menu{
        display: none;
    }
    .mobile_menu-triger {
        display: none;
        width: 25px;
        height: 17px;
        background-image: url(../img/burger.png)
      }
      
      .mobile_menu-close {
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 2.5rem;
        z-index: 100;
        background-image: url(../img/close.png);
        background-size: contain;
      }
      
      
      .mobile_menu-popup {
        /* height: 35vh; */
        justify-content: space-between;
        display: none;
        flex-direction: column;
        background: #0e0d12;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0;
        box-sizing: border-box;
        padding: 30px;
        z-index: 9999;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      
      .mobile_container {
        display: none;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 -2.5rem;
        background-color: rgba(0, 0, 0, 0.5);
      }
}
main.section_container{
    padding-top:126px;
    .enter_text{
        flex-direction:column;
        .breadcrumb{
            font-size: 12px;
            li{
                display:inline-block;
                a{
                    color:#949597;
                    font-size: 12px;
                    font-family: Alegreya SC;
                }
                &+li:before {
                    padding: 8px;
                    content: "○";
                }
                &.active a{
                    text-decoration: underline;
                }
            }
        }
    }
    .ticket{
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
main.news{
    &>div{
        max-width: 1062px;
        margin:3rem auto;
    }
    .ticket .text p {
        margin: 20px 0;
    }
    .news_pagination{
        ul{
            li{
                display: inline-block;
                margin: .5rem;
                font-size: 16px;
                font-family: Alegreya SC;
                font-weight: 400;
                width:35px;
                height:35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                a{
                    cursor: pointer;
                }
                &.active{
                    background-color:$hover;
                    a{
                        color:white
                    }
                }
                &.dots{
                    a{
                        color:$hover
                    }
                }
                &.nav_button{
                    background-color:#EEEEEE;
                    .left{
                        transform: rotate(90deg);
                    }
                    .right{
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}
main{
    .content{
        ul,ol,li{
            list-style-type:decimal;
            padding:revert;
            li{
                padding-left:1rem;
                margin: 1rem 0; 
                &::marker{
                    color:$hover
                }
            }
        }
        ul{
            li{list-style-type:disc}
        }
    }
}
main.news_page{
    .content{
        &>*{
            margin-top:.5rem;
            
            margin-bottom:.5rem;
        }
        justify-content: unset;
        flex-direction: column;
        .date{
            font-size: 16px;
            color:#979797;
        }
        img{
            width: 75%;
            margin: 2rem auto;
        }
        
        
        h1,h2,h3,h4,h5,h6{
            font-family: Alegreya SC;
            font-weight: 500;
        }
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 28px;
        }
        h4{
            font-size: 26px;
        }
        h5{
            font-size: 24px;
        }
        h6{
            font-size: 22px;
        }
    }
}
main.photo{
    .content{
        margin:3rem auto;
        flex-direction: column;
        align-items: center;
        p{
            text-align:center;
        }
        .galery{
            margin-top: 2rem;
            width: 100%;
            &:after {
                content: '';
                display: block;
                clear: both;
              }
            .grid-sizer{
                width: 49%;
            }
            .item{
                background-color: antiquewhite;
                margin: 0;
                a{
                    &>img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &.grid-item{
                    margin-bottom: .5rem;
                    height: 450px;
                    width: 49%;
                    display: inline-block;
                }
                
                &.grid-item--height2 { height: 345px; }
                &.grid-item--height3 { height: 400px; }
                &.grid-item--height4 { height: 360px; }
                &.grid-item--height5 { height: 264px; }
                &.grid-item--height6 { height: 334px; }
                &.grid-item--height7 { height: 547px; }
            }
        }
    }
}
main.living{
    .content{
        text-align: center;
        align-items: center;
        p{
            margin:2rem 0;
        }
        &>img{
            max-width: 980px;
        }
        h2,h4,h5{
            font-size: 40px;
            font-family: Alegreya SC;
            font-weight: 500;
        }
        .head{
            margin-top:5rem;
            margin-bottom: 2rem;
            display: inline-flex;
            align-items: center;
            width: 100%;
        }
        .info{
            display: flex;
            align-items: center;
            height: 400px;
            .img{
                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin:auto;
                    &:nth-child(1){
                        z-index: 2;
                    }
                    &:nth-child(2){
                        z-index: 1;
                    }
                }
            }
            .text{
                text-align: left;
            }
            &>div{
                flex:1;
                position: relative;
            }
        }
        .take-with{
            height: 322px;
            padding: 0 6rem;
            width: 100%;
            background-color: #F2F2F2;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h5{
                font-size: 30px;
            }
            ul,li{
                list-style-position: inside;
                padding: 0;
            }
        }
        .feature_include{
            margin:2rem 0;
            display: flex;
            height: 455px;
            width: 100%;
            text-align: left;
            .text{
                flex:1.2;
                h5{
                    font-size: 30px;
                }
                .item{
                    cursor: pointer;
                    margin: 2rem 0;
                    display: flex;
                    align-items: center;
                    &:hover{
                        &>div:nth-child(1) svg path{
                            fill: #F2F2F2;
                        }
                        &>div:nth-child(1){
                            background-color: $hover;
                        }
                    }
                    &>div:nth-child(1){
                        height: 92px;
                        display: flex;
                        margin-right: 1rem;
                        align-items: center;
                        justify-content: center;
                        width: 92px;
                        background-color: #F2F2F2;
                    }
                }
            }
            .map{
                flex:2;
            }
        }
        .comfort{
            text-align: left;
            .place{
                display: flex;
                .item{
                    flex: 1;
                    h6{
                        font-size: 20px;
                    }
                    span{
                        font-size: 16px;
                        margin:1rem 0;
                        display: block;
                        display: flex;
                        align-items: center;
                        &:before{
                            content:'';
                            width: 22px;
                            height: 22px;
                            margin-right: .5rem;
                            display: inline-block;
                            background-repeat:no-repeat;
                        }
                        &.geo:before{
                            background-image: url('../img/geo.png');
                        }
                        &.phone:before{
                            background-image: url('../img/phone.png');
                        }
                    }
                }
            }
            &.base{
                .place{
                    flex-wrap: wrap;
                    .item{
                        flex:1 1 30%;
                    }
                }
            }
        }
        flex-direction: column;
    }
}
main.road{
    .variants{
        display: flex;
        width: 100%;
        .item{
            display: flex;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            flex: 1;
            &:hover{
                &>.img{
                    background-color: $hover;
                }
                &>.img svg path{
                    fill:#F2F2F2
                }
                   
            }
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 144px;
                width: 144px;
                background-color: #F2F2F2;
            }
            h4{
                font-size: 30px;
            }
        }
    }
}
main.rules{
    .bracers,.safety,.other{
        text-align: left;
        margin-top:4rem;
        .active{
            color:$hover;
            font-weight: 400;
        }
    }
    .take-with{
        margin-top: 2rem;
        height: auto  !important;
        padding:2rem 6rem  !important;
        h5:before{
            content:url(../img/attention.png);
            margin-right: 1rem;
        }
    }
}
.fancybox-button{
    background:$hover;
    color:white;    
}
.section_container{
    position: relative;
    height:100%
}
.first-screen{
    .middle_image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        img{
            position:absolute;
            &:nth-child(2){
                position: absolute;
                width: 735px;
                height: 232px;
                left: 0;
                right: 0;
                margin:auto;
                top: 269.31px;
            }
        }
    }
    .knights{
        position: absolute;
        bottom: 0;
        width: 75%;
        left:0;
        right:0;
        top: 0;
        margin:auto;
        z-index: 1;
        .left,.right,.play{
            bottom: 0;
            left: 0;
            position: absolute;
        }
        .right{
            right: 0;
            left:auto;
        }
        .play{
            width:100px;
            height:100px;
            right: 0;
            left: 0;
            margin: auto;
            top: 0;
        }
    }
    .cloud_main{
        position: absolute;
        bottom: 0;
        display:flex;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        img{
            position:absolute;
            bottom:0;
            &:nth-child(1){
                left:0;
            }
            &:nth-child(2){
                bottom:0;
            }
            &:nth-child(3){
                right:0;
            }
        }
    }
    .cloud_forward{
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
        img{
            position: absolute;
            bottom: 0;
            &:nth-child(2){
                right:0;
            }
        }
    }
    .mouse_move{
        position: absolute;
        bottom: 1rem;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2;
        animation: 0.5s linear 1s infinite alternate move_mouse;
    }
    @keyframes move_mouse{
        from {
            bottom: .5rem;
        }
        to {
            bottom: 1.5rem;
        }
      }
}
.section_container>div{
    width:65%;
    margin: 5rem auto;
    display: flex;
    justify-content:center;
}
.enter_text,.enter_text h1{
    // margin-top: 0 !important;
    font-size: 67px;
    
    position: relative;
    z-index: 1;

    text-align: center;
    color:#BD8D4C;
    font-family: Alegreya SC;
}
#section1{
    .section_container>div{
        margin:0 auto;
        padding: 5rem !important;
    }
}
.first-screen{
    .section_container>div{
        margin:0 auto;
        display: block;
    }
    
}
.ticket{
    &>div{
        flex-basis: 626px;
        &:nth-child(1){
            padding-right: 6rem;
        }
        &:nth-child(2){
            
            text-align: center;
        }
    }
    .text{
        z-index: 1;
        h3{
            font-family: Alegreya SC;
            font-weight: 500;
            font-size: 32px;
        }
        p{
            margin: 30px 0;
        }
        .button{
            @extend %buy-button;
            a{
                font-weight:300;
                font-size: 16px;
                width: 100%;
                height: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
            }
        }
        .info{
            p{
                display:inline-block;
                font-size: 12px;
                margin-bottom:0 !important;
                margin-top:1rem;
                span{
                    color:$hover
                }
            }
        }
    }
    .ticket-img{
        position: relative;
        img{
            &:nth-child(1){
                position: relative;
                z-index: 1;
            }
            &:nth-child(2){
                position: absolute;
                max-width: initial;
                z-index: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.welcome-screen{
    height:auto;
    .section_container{
        background-image:url("../img/welcome_fon.jpg");
        background-size: cover;
        height: auto;
    }
    
    
}
.ticket.more{
    &>div{
        &:nth-child(1){
            text-align: center;
            padding:0;
        }
        &:nth-child(2){
            padding-left: 6rem;
            text-align:start
        }
    }
}
.text{
    h3{
        font-family: Alegreya SC;
        font-size: 40px;
        font-weight: 500;
    }
}
.info{
    .enter_text{
        margin:0 auto;
    }
    .ticket{
        margin: 0 auto;
        .text{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &>img{
            position: absolute;
            z-index: -1;
        }
    }
    .features{
        margin-top: 0;
        display: flex;
        
        &>div{
            background:#F2F2F2;
            height:300px;
            border-left:3px white dashed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition:.2s ease-in-out all;
            padding:1rem;
            flex:1;
            a{
                text-align: center;
            }
            &:nth-child(1){
                border-left:3px solid #F2F2F2;
            }
            &>*{
                margin:.5rem 0;
            }
            svg path{
                fill:$hover;
            }
            h4{
                font-size: 20px;
                font-family: Alegreya SC;
                font-weight: 500;
            }
            p{
                font-size: 14px;
                text-align: center;
            }
            &:hover{
                background:$hover;
                border-left:3px solid $hover;
                color:white;
                svg path{
                    fill:white;
                }
                h4{
                    text-decoration: underline;
                }
            }
        }
    }
    .program{
        flex-direction: column;
        align-items: center;
        .first-day,.second-day{
            width: 100%;
        }
        
        .items{
            width: 100%;
            height:300px;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            &>div{
                display: flex;
                font-size:16px;
                margin:.5rem 0;
                width: 50%;
                padding: 0 1rem;
                &>div{
                    display: inline-block;
                }
                .time{
                    color:$hover;
                    padding-right: 1rem;
                    white-space: nowrap;
                }
            }
        }
    }
}
.head{
    &,& h3{
        font-family: Alegreya SC;
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h3{
        font-size: 40px;
        color:$hover
    }
    font-size: 26px;
    margin:1rem 0;
    &:after,&:before{
        content:'';
        width:50%;
        background-image: url(../img/main_program_after.png);
        display: inline-block;
        background-repeat: no-repeat;
        margin:0 1rem;
        height:9px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    &:before{
        transform:rotateY(180deg);
    }
}
.galery{
    .section_container{
        height:auto;
    }
    .section_container>div {
        margin: 3rem auto;
    }
    .text{
        flex-direction:column;
        text-align: center;
        align-items: center;
        &>*{
            margin:1rem 0;
        }
    }
    .ticket{
        @extend %buy-button;
        a{
            font-weight:400;
            position: relative;
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
    .photos{
        flex-wrap: wrap;
        .item{
            width: 23%;
        }
    }
    
}
.item {
    margin: .5rem;
    position: relative;
    .overlay,.overlay img{
        position: absolute;
        left:0;
        right: 0;
        top:0;
        bottom:0;
        margin:auto;
        background: rgba(0,0,0,.4);
        opacity: 0;
        transition:.2s ease-in all;
    }
    &:hover .overlay,.overlay img{
        opacity: 1;
    }
}



footer{
    height:346px;
    background-image: url(../img/footer.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    .links{
        display: inline-flex;
        align-items: center;
        width: 50%;
        justify-content: space-evenly;
        &>*{
            width: 165px;
        }
    }
    h4{
        color:$hover;
        font-size: 20px;
        font-family: Alegreya SC;
        font-weight: 500;
        margin:1rem 0
    }
    .rights{
        margin-top:1rem;
        height:30px;
        p{
            display:inline-block;
            color:white;
            font-size:12px;
            padding:0 1rem;
            a{
                color:white
            }
        }
    }
    .items{
        display: flex;
        flex-direction: column;
        a{
            color:#979797;
            font-size: 14px;
            margin:.5rem 0
        }
    }
}

@media (max-width: 1440px) {  
    .section_container>div {
        width: 85%;
        
    }
    .ticket>div:first-child {
        padding-right: 2rem;
    }
    .ticket.more>div:nth-child(2) {
        padding-left: 2rem;
        text-align: start;
    }
    #section1 .section_container>div {
        margin: 0 auto;
        padding: 2rem!important;
    }
}
@media (max-width: 1320px) {  
    .ticket .text p {
        margin: 15px 0;
    }
}
@media (max-width: 1024px){
    
    main.living .content .info {
        height: auto;
        flex-direction: column;
    }
    main.living .content .info .img img:first-child {
        z-index: 2;
        position: relative;
    }
    main.living .content>img {
        width:100%
    }
    .first-screen .knights {
        width: 95%;
    }
    .ticket .text h3 {
        font-size: 25px;
    }
    footer .links>* {
        width: auto;
    }
    header{
        &>.nav,&>.ticket{
            display: none;
        }
    }
    .info .program .items {
        height: 400px;
    }
    .mobile_menu{
        display:block !important;
    }
    header .mobile_menu-triger {
        display: block;
    }
    header .mobile_menu-item-nav{
        margin: 0 auto;
    }
    header{
        padding: 0 4rem;
        justify-content: space-between;
        li{
            a{
                color:white;
            }
        }
        .ticket{
            width: 180px;
            margin: 1rem auto;
            a{
                color:white
            }
        }
        .sub>a:after{
            content:'';
            width:10px;
            height:6px;
            background:url(../img/after.png);
            display: inline-block;
            margin: 0 .5rem;
        }
        .submenu{
            padding-left: 1rem;
        }
    }
}
@media (max-width:768px){
    main.living .comfort .place{
        flex-direction: column;
    align-items: center;
    }
    main.road .variants{
        flex-direction: column;
    }
    .knights{
        .right,.left{
            img{
                text-align: right;
                width: 75%;
            }
        }
        .right{
            img{
                float: right;
            }
        }
    }
    
        .ticket{
            flex-direction: column;
            &>div{
                flex-basis: auto;
                padding:1rem 0;
            }
            &.more{
                flex-direction: column-reverse;
            }
        }
    #section1{
        .section_container{
            
            
            
        }
    }
    .info {
        .text h3 {
 
            font-size: 30px;

        }
        
        .features{
            flex-wrap: wrap;
            &>div{
            width:50%;
            flex:none;
            &:nth-child(3){

                border:none;
              
            }
            &:nth-child(3),&:nth-child(4){

                
                border-top: 3px dashed #fff;
            }
            
        }
        }
        .program .items {
            height: auto;
            &>div{
                width: auto;
            }
        }
    }
    footer .links {
        width: auto;
        display: flex;
        &>*{
            padding: 0 1rem;
        }
    }
    .enter_text,.enter_text h1{
        font-size: 55px;
    }
    main.living .content .feature_include{
        flex-direction: column;
    }
}
@media(max-width:630px){
    .knights{
        .left,.right{
            display: none;
        }
    }
    .grid-item{ width:100% !important}
    main.living .content .take-with{
        height: auto;
    }
    
}

@media(max-width:425px){
    .head h3 {
        font-size: 33px;
    }
}

